a .radio input,
a .checkbox input {
	position: absolute;
	left: inherit;
}
.top-padding{
	padding-top:15px;
	padding-right:0px;
	padding-left:0px
}
.right-container{
	float:right;
	padding-right:0px;
	padding-left:10px
}
.left-container{
	float:left;
	padding:0px
}
.slider-class{
	margin-right:20px;
	padding-bottom:20px
}

.checkbox-row{
	margin-top:-10px;
	padding-left:p0x
}
.boarding-class{
	margin-top:10px
}
.slider-wrapper{
	width:90%;
	margin-left:5%
}
div.toggle{
	margin:0px
}
.toggle label{
	margin-bottom:0px
}
.toggle.toggle-transparent-body label {
    background: #bdc3c7;
		padding-top:0.2em;
		padding-bottom:0.2em
}
.flexslider {
}

.flexslider .slides img {
}
.select-tag{
  width:30%;
  color:#FFF;
  margin-right:10px;
  float:left;
  text-align:right;
  margin-top:8px
}

span.hide-native-select{
  float:left;
  width:65%;
  float:right

}

.dropdown-menu{
  width:100%
}
.search-group{
    float:right;
    display:flex;
    padding-right:15px;
		margin-top:20px
}
.more-option-div{
  float:left
}
.more-option{
    float:right;
    vertical-align:middle;
    margin-top:8px;
    margin-right:10px
}
.search-btn{
	width:80px
}
.search-box{
  float:left
}
.boxes{
	float: left;
	margin-left:40px
}
.mycheckbox{
	color:#FFF;
	margin-right:20px
}
.mycheckbox i{
	background-color:rgba(255, 255, 255, 0.38)

}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    background-color:rgba(136,136,136,255)
}
.dropdown-menu{
    background-color:rgba(189,189,189,255)
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{
    background-color:#0FB497
}
